# Import files

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import json
import os
from tqdm import tqdm_notebook 
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [2]:
def file(path):
    fds = sorted(os.listdir(path))
    filenames = []
    for file in fds:
        if file.endswith(('.json')): 
            filenames.append(file)
    return filenames

In [3]:
columns=["contract_id","branch","branch_code","cred_line_id","depart_code","depart_name","dog_summa",
         "dog_summa_nt","grace_period","group_conv_num","kind_credit","method_calc_prc","name_group_client",
         "pod_sector_cred","prc_rate","pre_payment_acc","product","rate_admin_prc","sector_cred",
         "code_group_client","contract_manager_dep_code","stupen_cred","sum_admin_prc",
        "sum_admin_prc_nt","sum_cred_line","valuta","date_begin","date_end","date_open"]

## Load dataset for credit

In [4]:
#Read json files and write credit and client_id in new dataframe
path = '/home/student/Desktop/cs2018-07-17'
filenames = file(path)
data=pd.DataFrame(columns=columns)
for file in tqdm_notebook(filenames):
    f = open(path + '/' + file)
    my_dict = json.load(f)
    f.close()
    for i in range (len(my_dict["credit"])):
        row=my_dict["credit"][i]
        row["client_id"]=my_dict["client_id"]
        data=data.append(row,ignore_index=True)

HBox(children=(IntProgress(value=0, max=43884), HTML(value='')))

In [5]:
#Save in csv format
data.to_csv("credit_from_json.csv",index=False)

# Credit data preprocessing

In [6]:
#Drop information about collaterals and date_open (duplicates date_begin)
data.drop(["collateral","date_open"],axis=1,inplace=True)

In [7]:
# Drop categorical values and values in international currency
data.drop(["branch","depart_name","cred_line_id","product","rate_admin_prc","sum_cred_line","dog_summa","sum_admin_prc"],axis=1,inplace=True)

In [8]:
data.columns

Index(['contract_id', 'branch_code', 'depart_code', 'dog_summa_nt',
       'grace_period', 'group_conv_num', 'kind_credit', 'method_calc_prc',
       'name_group_client', 'pod_sector_cred', 'prc_rate', 'pre_payment_acc',
       'sector_cred', 'code_group_client', 'contract_manager_dep_code',
       'stupen_cred', 'sum_admin_prc_nt', 'valuta', 'date_begin', 'date_end',
       'client_id', 'overdue'],
      dtype='object')

In [9]:
#New columns grooup_credit
data["group_credit"]=data.group_conv_num
data.drop(["group_conv_num","code_group_client","name_group_client"],axis=1,inplace=True)

In [10]:
index=data[data.group_credit.isnull()].index
data.group_credit.iloc[index]=0

/home/student/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
#If it is group credit than give 1, else 0
data.group_credit=data["group_credit"].apply(lambda x: 1 if x!=0 else 0)

In [12]:
#Count Kind of credit and group them(if less than 100)
a = data.kind_credit.value_counts()
m = data.kind_credit.isin(a.index[a<100])
data.loc[m, 'kind_credit'] = "Другие"
data.kind_credit.value_counts()

Бизнес-микро                                           20677
Агро-микро                                             13790
Истеъмоли (Нав)                                         8060
Умуми                                                   1531
Другие                                                   525
ABCI/Чорводори                                           187
Махсулоти карзи бо амонати сугуртави ва курби собит      130
Гурухи-оилави                                            123
Айёми дилхох-1                                           120
Бовари                                                   109
Name: kind_credit, dtype: int64

In [13]:
data.method_calc_prc.value_counts()

Аннуитетный        39107
Комбинированный     6142
Простой                3
Name: method_calc_prc, dtype: int64

In [14]:
#Categorical to binary
a=pd.get_dummies(data.method_calc_prc)
data=pd.concat([data,a],axis=1)

In [15]:
index=data.overdue.dropna().index
index

Int64Index([    3,     4,     5,     6,     7,     8,     9,    10,    11,
               12,
            ...
            45242, 45243, 45244, 45245, 45246, 45247, 45248, 45249, 45250,
            45251],
           dtype='int64', length=45147)

In [16]:
# Drop samples with no infomation about overdue
data=data.iloc[index]
data

,contract_id,branch_code,depart_code,dog_summa_nt,grace_period,kind_credit,method_calc_prc,pod_sector_cred,prc_rate,pre_payment_acc,...,sum_admin_prc_nt,valuta,date_begin,date_end,client_id,overdue,group_credit,Аннуитетный,Комбинированный,Простой
3,1637320955,001-14,001-14,57100.00,0,Умуми,Комбинированный,Хариду фуруш,42.6,26223972810131098001,...,0.00,TJS,2016-04-16,2018-09-16,1225971105,"[{'no': 1672, 'active_summa': 18323.31, 'activ...",0,0,1,0
4,3160568643,001-04,001-04,5000.00,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972910113342002,...,50.00,TJS,2017-12-29,2019-12-29,886064014,"[{'no': 5867, 'active_summa': 4753.09, 'active...",1,1,0,0
5,3393025348,001-18,001-18-01,5000.00,0,Агро-микро,Аннуитетный,Растанипарвари,42.0,26223972710143595003,...,50.00,TJS,2018-03-23,2019-03-25,1551551986,"[{'no': 163374, 'active_summa': 5000.0, 'activ...",0,1,0,0
6,2593810969,001-21,001-21,8000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,46.0,26223972810118493001,...,10.00,TJS,2017-06-05,2019-06-06,349594513,"[{'no': 16743, 'active_summa': 5866.15, 'activ...",0,1,0,0
7,3233769171,001-21,001-21,2000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972110209086001,...,20.00,TJS,2018-01-26,2019-01-26,3230654910,"[{'no': 16746, 'active_summa': 1888.67, 'activ...",0,1,0,0
8,2924160024,001-14,001-14-02,8000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972510141304001,...,80.00,TJS,2017-10-04,2019-04-04,1382875420,"[{'no': 16748, 'active_summa': 6282.48, 'activ...",0,1,0,0
9,3416183132,001-18,001-18-01,18000.00,0,Агро-микро,Аннуитетный,Растанипарвари,27.0,26223972810219499001,...,10.00,TJS,2018-04-02,2020-04-02,3406731174,"[{'no': 163132, 'active_summa': 18000.0, 'acti...",0,1,0,0
10,3421812332,001-03,001-03,54660.44,0,Бизнес-микро,Аннуитетный,Истеъмолот,24.0,26227840310130973001,...,9.97,USD,2018-04-05,2020-04-05,348004847,"[{'no': 163462, 'active_summa': 6200.0, 'activ...",0,1,0,0
11,2666940429,001-19,001-19,5000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,47.0,26223972610182056001,...,10.00,TJS,2017-07-02,2019-07-03,2664931199,"[{'no': 16749, 'active_summa': 3873.94, 'activ...",0,1,0,0
12,3063966959,001-21,001-21,2000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,42.0,26223972810200724002,...,20.00,TJS,2017-11-25,2018-11-25,3060553609,"[{'no': 16750, 'active_summa': 1606.26, 'activ...",1,1,0,0
13,3420768056,001-08,001-08,8000.00,4,Агро-микро,Комбинированный,Растанипарвари,27.0,26223972510219840002,...,10.00,TJS,2018-04-05,2020-04-05,3416039266,"[{'no': 163164, 'active_summa': 8000.0, 'activ...",0,0,1,0
14,3009328950,001-20,001-20,3000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,42.0,26223972010074200002,...,30.00,TJS,2017-11-05,2018-11-05,349637060,"[{'no': 16754, 'active_summa': 2146.46, 'activ...",0,1,0,0
15,2908534928,001-05,001-05-04,4000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,42.0,26223972810193366001,...,40.00,TJS,2017-09-29,2018-09-29,2905650554,"[{'no': 5875, 'active_summa': 2565.12, 'active...",0,1,0,0
16,2928545611,001-15,001-15-01-02,5000.00,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972410194422001,...,50.00,TJS,2017-10-05,2019-04-05,2928359392,"[{'no': 16755, 'active_summa': 3923.29, 'activ...",1,1,0,0
17,3009327474,001-15,001-15-01,2500.00,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972310105659002,...,25.00,TJS,2017-11-05,2018-11-05,785090025,"[{'no': 16756, 'active_summa': 1785.9, 'active...",0,1,0,0
18,2367691521,001-03,001-03-05,4000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972710167861001,...,5.00,TJS,2017-03-02,2018-09-02,2366976077,"[{'no': 16758, 'active_summa': 1634.95, 'activ...",1,1,0,0
19,3089772032,001-21,001-21,4000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972610029159003,...,40.00,TJS,2017-12-02,2019-06-02,347952887,"[{'no': 16760, 'active_summa': 3517.63, 'activ...",0,1,0,0
20,3338939390,001-03,001-03-05,5000.00,0,Агро-микро,Аннуитетный,Чорвопарвари,42.0,26223972810036341002,...,50.00,TJS,2018-03-02,2019-09-02,348274493,"[{'no': 13283, 'active_summa': 5000.0, 'active...",0,1,0,0
21,3260024840,001-12,001-12,4000.00,0,Бизнес-микро,Аннуитетный,Хариду фуруш,36.0,26223972710210530001,...,10.00,TJS,2018-02-04,2019-08-04,3257570524,"[{'no': 16765, 'active_summa': 3837.0, 'active...",0,1,0,0
22,3421395390,001-14,001-14-01,3000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972810219842001,...,30.00,TJS,2018-04-05,2019-04-05,3416048884,"[{'no': 163195, 'active_summa': 3000.0, 'activ...",0,1,0,0
23,3339128111,001-01,001-01,5000.00,0,Бизнес-микро,Аннуитетный,Хариду фуруш,42.0,26223972310214402001,...,50.00,TJS,2018-03-02,2020-03-03,3324901110,"[{'no': 13289, 'active_summa': 5000.0, 'active...",0,1,0,0
24,3416661878,001-04,001-04,6000.00,0,Бизнес-микро,Аннуитетный,Хизматрасони,36.0,26223972710151025002,...,10.00,TJS,2018-04-02,2019-04-04,1950376614,"[{'no': 163466, 'active_summa': 6000.0, 'activ...",0,1,0,0
25,3338517002,001-03,001-03-07,2000.00,0,Бизнес-микро,Аннуитетный,Хизматрасони,42.0,26223972310183997003,...,20.00,TJS,2018-03-02,2019-03-04,2706573496,"[{'no': 13465, 'active_summa': 2000.0, 'active...",0,1,0,0
26,2990443641,001-11,001-11-05,4000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,40.0,26223972610076422001,...,40.00,TJS,2017-10-29,2019-04-29,356511402,"[{'no': 5874, 'active_summa': 3331.88, 'active...",0,1,0,0
27,3415964194,001-05,001-05-07,6000.00,0,Бизнес-микро,Аннуитетный,Хизматрасони,42.0,26223972010144238001,...,60.00,TJS,2018-04-02,2019-10-02,1564644341,"[{'no': 163155, 'active_summa': 6000.0, 'activ...",0,1,0,0
28,3048933667,001-03,001-03-03,10000.00,0,Истеъмоли (Нав),Комбинированный,Истеъмолот,42.0,26223972310082510002,...,100.00,TJS,2017-11-20,2019-11-21,400421622,"[{'no': 16712, 'active_summa': 8749.0, 'active...",0,0,1,0
29,3262451931,001-06,001-06-04,2500.00,0,Агро-микро,Аннуитетный,Чорвопарвари,42.0,26223972810210760001,...,25.00,TJS,2018-02-05,2019-02-07,3262232223,"[{'no': 16715, 'active_summa': 2331.42, 'activ...",0,1,0,0
30,3262586619,001-10,001-10-05,2000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972810016551003,...,20.00,TJS,2018-02-05,2019-02-07,347392299,"[{'no': 16719, 'active_summa': 1865.33, 'activ...",0,1,0,0
31,3420941501,001-06,001-06-03,4000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972410135271004,...,40.00,TJS,2018-04-05,2019-04-05,1339454326,"[{'no': 163293, 'active_summa': 4000.0, 'activ...",0,1,0,0
32,2754572691,001-18,001-18,8000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,46.0,26223972510121777001,...,80.00,TJS,2017-08-05,2019-08-05,348111437,"[{'no': 16720, 'active_summa': 6410.9, 'active...",0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45222,3008935316,001-06,001-06-02,3000.00,0,Бизнес-микро,Аннуитетный,Хизматрасони,42.0,26223972610198079001,...,30.00,TJS,2017-11-05,2018-11-05,3003412726,"[{'no': 16678, 'active_summa': 2146.46, 'activ...",0,1,0,0
45223,3421721240,001-07,001-07-02,2000.00,0,Агро-микро,Аннуитетный,Чорвопарвари,36.0,26223972810220022001,...,10.00,TJS,2018-04-05,2019-04-05,3420898193,"[{'no': 163622, 'active_summa': 2000.0, 'activ...",0,1,0,0
45224,3090012579,001-20,001-20,2500.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,42.0,26223972910179166002,...,25.00,TJS,2017-12-02,2019-06-02,2598338416,"[{'no': 16680, 'active_summa': 2196.58, 'activ...",0,1,0,0
45225,3343849677,001-05,001-05-04,2000.00,0,Бизнес-микро,Аннуитетный,Хариду фуруш,42.0,26223972210020957002,...,20.00,TJS,2018-03-05,2019-03-05,347587829,"[{'no': 13892, 'active_summa': 2000.0, 'active...",0,1,0,0
45226,2367662841,001-06,001-06,10000.00,0,Агро-микро,Комбинированный,Чорвопарвари,42.0,26223972910167807001,...,10.00,TJS,2017-03-02,2018-09-02,2365490734,"[{'no': 16687, 'active_summa': 1311.94, 'activ...",0,0,1,0
45227,3178538924,001-21,001-21,2000.00,0,Бизнес-микро,Аннуитетный,Чорвопарвари,42.0,26223972410205447001,...,20.00,TJS,2018-01-05,2019-01-05,3170744418,"[{'no': 16689, 'active_summa': 1725.8, 'active...",1,1,0,0
45228,3312811633,001-13,001-13,1500.00,0,Бизнес-микро,Аннуитетный,Хизматрасони,42.0,26223972310185967002,...,15.00,TJS,2018-02-25,2019-02-25,2745974776,"[{'no': 3402, 'active_summa': 1500.0, 'active_...",1,1,0,0
45229,3312857097,001-06,001-06-04,4000.00,0,Бизнес-микро,Аннуитетный,Хариду фуруш,42.0,26223972610160678003,...,40.00,TJS,2018-02-25,2019-08-25,2201434598,"[{'no': 13133, 'active_summa': 4000.0, 'active...",1,1,0,0
45230,2990337919,001-14,001-14-01,3000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972710050731002,...,30.00,TJS,2017-10-29,2018-11-01,348918627,"[{'no': 16693, 'active_summa': 2168.99, 'activ...",0,1,0,0
45231,2666562578,001-01,001-01,10000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,47.0,26223972210181936001,...,10.00,TJS,2017-07-02,2019-07-03,2664249025,"[{'no': 16696, 'active_summa': 3297.09, 'activ...",0,1,0,0
45232,2594110632,001-04,001-04,2000.00,0,Агро-микро,Аннуитетный,Чорвопарвари,46.0,26223972910123155001,...,5.00,TJS,2017-06-05,2018-06-07,1071750366,"[{'no': 16698, 'active_summa': 602.02, 'active...",1,1,0,0
45233,3420942161,001-09,001-09,6000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,40.0,26223972210219811001,...,60.00,TJS,2018-04-05,2019-10-05,3415915671,"[{'no': 163324, 'active_summa': 6000.0, 'activ...",0,1,0,0
45234,2347795227,001-17,001-17,10000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,42.0,26223972610166920001,...,10.00,TJS,2017-02-26,2018-07-26,2344628801,"[{'no': 16702, 'active_summa': 2300.97, 'activ...",0,1,0,0
45235,3090221849,001-05,001-05-04,3000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972210168767002,...,30.00,TJS,2017-12-02,2018-12-02,2379722073,"[{'no': 16703, 'active_summa': 2380.89, 'activ...",1,1,0,0
45236,3338909316,001-03,001-03-05,1200.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972510214668001,...,12.00,TJS,2018-03-02,2019-03-04,3334922062,"[{'no': 13063, 'active_summa': 1200.0, 'active...",0,1,0,0
45237,3416533216,001-05,001-05,2000.00,0,Бизнес-микро,Аннуитетный,Хариду фуруш,42.0,26223972910219661001,...,20.00,TJS,2018-04-02,2019-10-02,3414296241,"[{'no': 163432, 'active_summa': 2000.0, 'activ...",0,1,0,0
45238,3008846586,001-10,001-10-04,5000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,42.0,26223972210121462001,...,50.00,TJS,2017-11-05,2018-11-05,1034112196,"[{'no': 16721, 'active_summa': 3576.02, 'activ...",0,1,0,0
45239,3315391550,001-20,001-20,8000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972710213498001,...,80.00,TJS,2018-02-26,2019-08-26,3309957938,"[{'no': 3314, 'active_summa': 8000.0, 'active_...",0,1,0,0
45240,3338550002,001-03,001-03-03,10000.00,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972810041394002,...,100.00,TJS,2018-03-02,2021-03-02,348500706,"[{'no': 13881, 'active_summa': 10000.0, 'activ...",0,1,0,0
45241,2673068832,001-03,001-03-03,8000.00,0,Агро-микро,Аннуитетный,Истеъмолот,46.0,26223972510041394001,...,10.00,TJS,2017-07-05,2018-07-05,348500706,"[{'no': 16705, 'active_summa': 3124.66, 'activ...",0,1,0,0
45242,2816296216,001-08,001-08-03,10000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,47.0,26223972010188618001,...,100.00,TJS,2017-08-27,2018-08-27,2813015694,"[{'no': 16722, 'active_summa': 5669.21, 'activ...",0,1,0,0
45243,3178895099,001-06,001-06-03,3000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972910090559002,...,30.00,TJS,2018-01-05,2019-01-05,499738081,"[{'no': 16724, 'active_summa': 2589.71, 'activ...",0,1,0,0
45244,3160989103,001-05,001-05-04,2000.00,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972810090468002,...,20.00,TJS,2017-12-29,2018-12-29,498581896,"[{'no': 4147, 'active_summa': 1733.05, 'active...",0,1,0,0
45245,3421259568,001-05,001-05-04,1000.00,0,Агро-микро,Аннуитетный,Чорвопарвари,40.0,26223972110090468003,...,10.00,TJS,2018-04-05,2019-04-05,498581896,"[{'no': 163316, 'active_summa': 1000.0, 'activ...",0,1,0,0
45246,2594062504,001-13,001-13,10000.00,0,Истеъмоли (Нав),Аннуитетный,Истеъмолот,46.0,26223972110036194001,...,10.00,TJS,2017-06-05,2018-12-05,348267904,"[{'no': 16728, 'active_summa': 5867.23, 'activ...",0,1,0,0
45247,3416497347,001-05,001-05-04,5000.00,0,Агро-микро,Аннуитетный,Растанипарвари,42.0,26223972810219211001,...,50.00,TJS,2018-04-02,2019-04-04,3403396091,"[{'no': 163114, 'active_summa': 5000.0, 'activ...",1,1,0,0
45248,3009082707,001-04,001-04,1000.00,0,Бизнес-микро,Аннуитетный,Хариду фуруш,42.0,26223972510112126001,...,10.00,TJS,2017-11-05,2018-11-05,870555299,"[{'no': 16732, 'active_summa': 716.89, 'active...",1,1,0,0
45249,2586264005,001-06,001-06-02,7000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,46.0,26223972110022603001,...,10.00,TJS,2017-06-02,2019-06-02,347660420,"[{'no': 16731, 'active_summa': 5174.63, 'activ...",0,1,0,0
45250,3009198869,001-13,001-13-01,6000.00,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972510171947001,...,60.00,TJS,2017-11-05,2019-05-05,2446596426,"[{'no': 16735, 'active_summa': 4988.97, 'activ...",0,1,0,0
45251,2284737328,001-08,001-08,20000.00,0,Агро-микро,Аннуитетный,Растанипарвари,28.0,26223972110070956001,...,10.00,TJS,2017-01-30,2020-01-30,349491492,"[{'no': 16737, 'active_summa': 12287.98, 'acti...",0,1,0,0

In [17]:
a=pd.get_dummies(data.pod_sector_cred)
data=pd.concat([data,a],axis=1)
data.head()

,contract_id,branch_code,depart_code,dog_summa_nt,grace_period,kind_credit,method_calc_prc,pod_sector_cred,prc_rate,pre_payment_acc,...,Занбурпарвари,Ипотека,Истехсолот,Истеъмоли,Истеъмолот,Мохипарвари,Растанипарвари,Хариду фуруш,Хизматрасони,Чорвопарвари
3,1637320955,001-14,001-14,57100.0,0,Умуми,Комбинированный,Хариду фуруш,42.6,26223972810131098001,...,0,0,0,0,0,0,0,1,0,0
4,3160568643,001-04,001-04,5000.0,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972910113342002,...,0,0,0,0,1,0,0,0,0,0
5,3393025348,001-18,001-18-01,5000.0,0,Агро-микро,Аннуитетный,Растанипарвари,42.0,26223972710143595003,...,0,0,0,0,0,0,1,0,0,0
6,2593810969,001-21,001-21,8000.0,0,Бизнес-микро,Аннуитетный,Истеъмолот,46.0,26223972810118493001,...,0,0,0,0,1,0,0,0,0,0
7,3233769171,001-21,001-21,2000.0,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972110209086001,...,0,0,0,0,1,0,0,0,0,0

In [18]:
a=pd.get_dummies(data.valuta)
data=pd.concat([data,a],axis=1)
data.head()

,contract_id,branch_code,depart_code,dog_summa_nt,grace_period,kind_credit,method_calc_prc,pod_sector_cred,prc_rate,pre_payment_acc,...,Истеъмоли,Истеъмолот,Мохипарвари,Растанипарвари,Хариду фуруш,Хизматрасони,Чорвопарвари,RUB,TJS,USD
3,1637320955,001-14,001-14,57100.0,0,Умуми,Комбинированный,Хариду фуруш,42.6,26223972810131098001,...,0,0,0,0,1,0,0,0,1,0
4,3160568643,001-04,001-04,5000.0,0,Агро-микро,Аннуитетный,Истеъмолот,42.0,26223972910113342002,...,0,1,0,0,0,0,0,0,1,0
5,3393025348,001-18,001-18-01,5000.0,0,Агро-микро,Аннуитетный,Растанипарвари,42.0,26223972710143595003,...,0,0,0,1,0,0,0,0,1,0
6,2593810969,001-21,001-21,8000.0,0,Бизнес-микро,Аннуитетный,Истеъмолот,46.0,26223972810118493001,...,0,1,0,0,0,0,0,0,1,0
7,3233769171,001-21,001-21,2000.0,0,Бизнес-микро,Аннуитетный,Истеъмолот,42.0,26223972110209086001,...,0,1,0,0,0,0,0,0,1,0

In [19]:
data.drop("valuta",axis=1,inplace=True)

In [20]:
data.shape

(45147, 36)

In [21]:
sum(data.pre_payment_acc.isnull())

0

In [23]:
data.method_calc_prc.value_counts()

Аннуитетный        39042
Комбинированный     6102
Простой                3
Name: method_calc_prc, dtype: int64

In [24]:
data.pod_sector_cred.value_counts()

Истеъмолот        25207
Чорвопарвари       6189
Растанипарвари     5142
Хизматрасони       3900
Хариду фуруш       3710
Истехсолот          798
Богпарвари          151
Занбурпарвари        23
Ипотека              12
Мохипарвари           9
Истеъмоли             2
Name: pod_sector_cred, dtype: int64

In [25]:
data.date_end.value_counts()

2019-03-11    356
2019-03-18    311
2019-03-25    304
2019-02-21    279
2019-04-20    264
2019-04-18    259
2019-04-07    257
2019-02-28    255
2019-01-24    254
2018-12-12    252
2018-11-01    251
2019-03-04    244
2019-01-10    242
2019-04-14    240
2019-02-14    230
2019-01-17    227
2018-10-17    227
2019-04-11    222
2019-01-31    220
2019-04-06    219
2018-12-26    218
2019-04-15    216
2019-03-28    214
2019-10-16    207
2018-11-15    199
2019-03-22    198
2019-03-21    197
2019-02-07    193
2019-04-13    188
2018-11-08    187
             ...
2016-08-13      1
2021-12-16      1
2017-09-25      1
2020-05-30      1
2016-08-06      1
2020-05-16      1
2017-10-28      1
2016-07-24      1
2017-01-21      1
2015-10-01      1
2017-08-01      1
2017-10-29      1
2016-05-15      1
2018-02-24      1
2016-12-25      1
2017-05-12      1
2017-01-29      1
2015-11-15      1
2016-10-01      1
2016-08-28      1
2016-09-05      1
2015-11-23      1
2016-03-03      1
2020-09-07      1
2017-08-03      1
2016-08-08      1
2017-01-20      1
2021-01-20      1
2020-10-11      1
2019-10-11      1
Name: date_end, Length: 1082, dtype: int64

In [29]:
data.sector_cred.value_counts()

Истеъмолот        25219
Хочагии кишлок    11507
Сохибкори          8392
СОХИБКОРИ            16
ХОЧАГИИ КИШЛОК        7
ИСТЕЪМОЛОТ            2
Name: sector_cred, dtype: int64

In [30]:
data.pod_sector_cred.value_counts()

Истеъмолот        25207
Чорвопарвари       6189
Растанипарвари     5142
Хизматрасони       3900
Хариду фуруш       3710
Истехсолот          798
Богпарвари          151
Занбурпарвари        23
Ипотека              12
Мохипарвари           9
Истеъмоли             2
Name: pod_sector_cred, dtype: int64

In [31]:
data.columns

Index(['contract_id', 'branch_code', 'depart_code', 'dog_summa_nt',
       'grace_period', 'kind_credit', 'method_calc_prc', 'pod_sector_cred',
       'prc_rate', 'pre_payment_acc', 'sector_cred',
       'contract_manager_dep_code', 'stupen_cred', 'sum_admin_prc_nt',
       'date_begin', 'date_end', 'client_id', 'overdue', 'group_credit',
       'Аннуитетный', 'Комбинированный', 'Простой', 'Богпарвари',
       'Занбурпарвари', 'Ипотека', 'Истехсолот', 'Истеъмоли', 'Истеъмолот',
       'Мохипарвари', 'Растанипарвари', 'Хариду фуруш', 'Хизматрасони',
       'Чорвопарвари', 'RUB', 'TJS', 'USD'],
      dtype='object')

In [32]:
data.drop("method_calc_prc",axis=1,inplace=True) 
# Drop this column because new columns were generated based on its values

In [33]:
data.drop("pod_sector_cred",axis=1,inplace=True)
# Drop this column because new columns were generated based on its values

In [34]:
a=pd.get_dummies(data.kind_credit,prefix="kind of credit")
data=pd.concat([data,a],axis=1)
data.head()

,contract_id,branch_code,depart_code,dog_summa_nt,grace_period,kind_credit,prc_rate,pre_payment_acc,sector_cred,contract_manager_dep_code,...,kind of credit_ABCI/Чорводори,kind of credit_Агро-микро,kind of credit_Айёми дилхох-1,kind of credit_Бизнес-микро,kind of credit_Бовари,kind of credit_Гурухи-оилави,kind of credit_Другие,kind of credit_Истеъмоли (Нав),kind of credit_Махсулоти карзи бо амонати сугуртави ва курби собит,kind of credit_Умуми
3,1637320955,001-14,001-14,57100.0,0,Умуми,42.6,26223972810131098001,Сохибкори,001-14,...,0,0,0,0,0,0,0,0,0,1
4,3160568643,001-04,001-04,5000.0,0,Агро-микро,42.0,26223972910113342002,Истеъмолот,001-04,...,0,1,0,0,0,0,0,0,0,0
5,3393025348,001-18,001-18-01,5000.0,0,Агро-микро,42.0,26223972710143595003,Хочагии кишлок,None,...,0,1,0,0,0,0,0,0,0,0
6,2593810969,001-21,001-21,8000.0,0,Бизнес-микро,46.0,26223972810118493001,Истеъмолот,001-21,...,0,0,0,1,0,0,0,0,0,0
7,3233769171,001-21,001-21,2000.0,0,Бизнес-микро,42.0,26223972110209086001,Истеъмолот,001-21,...,0,0,0,1,0,0,0,0,0,0

In [35]:
data.drop("kind_credit",axis=1,inplace=True)
# Drop this column because new columns were generated based on its values

In [36]:
data.columns

Index(['contract_id', 'branch_code', 'depart_code', 'dog_summa_nt',
       'grace_period', 'prc_rate', 'pre_payment_acc', 'sector_cred',
       'contract_manager_dep_code', 'stupen_cred', 'sum_admin_prc_nt',
       'date_begin', 'date_end', 'client_id', 'overdue', 'group_credit',
       'Аннуитетный', 'Комбинированный', 'Простой', 'Богпарвари',
       'Занбурпарвари', 'Ипотека', 'Истехсолот', 'Истеъмоли', 'Истеъмолот',
       'Мохипарвари', 'Растанипарвари', 'Хариду фуруш', 'Хизматрасони',
       'Чорвопарвари', 'RUB', 'TJS', 'USD', 'kind of credit_ABCI/Чорводори',
       'kind of credit_Агро-микро', 'kind of credit_Айёми дилхох-1',
       'kind of credit_Бизнес-микро', 'kind of credit_Бовари',
       'kind of credit_Гурухи-оилави', 'kind of credit_Другие',
       'kind of credit_Истеъмоли (Нав)',
       'kind of credit_Махсулоти карзи бо амонати сугуртави ва курби собит',
       'kind of credit_Умуми'],
      dtype='object')

In [37]:
data.sector_cred=data.sector_cred.apply(lambda x: str(x).upper())

In [38]:
data.sector_cred.value_counts()

ИСТЕЪМОЛОТ        25221
ХОЧАГИИ КИШЛОК    11514
СОХИБКОРИ          8408
NONE                  4
Name: sector_cred, dtype: int64

In [39]:
a=pd.get_dummies(data.sector_cred,prefix="sector")
data=pd.concat([data,a],axis=1)
data.head()

,contract_id,branch_code,depart_code,dog_summa_nt,grace_period,prc_rate,pre_payment_acc,sector_cred,contract_manager_dep_code,stupen_cred,...,kind of credit_Бовари,kind of credit_Гурухи-оилави,kind of credit_Другие,kind of credit_Истеъмоли (Нав),kind of credit_Махсулоти карзи бо амонати сугуртави ва курби собит,kind of credit_Умуми,sector_NONE,sector_ИСТЕЪМОЛОТ,sector_СОХИБКОРИ,sector_ХОЧАГИИ КИШЛОК
3,1637320955,001-14,001-14,57100.0,0,42.6,26223972810131098001,СОХИБКОРИ,001-14,1,...,0,0,0,0,0,1,0,0,1,0
4,3160568643,001-04,001-04,5000.0,0,42.0,26223972910113342002,ИСТЕЪМОЛОТ,001-04,4,...,0,0,0,0,0,0,0,1,0,0
5,3393025348,001-18,001-18-01,5000.0,0,42.0,26223972710143595003,ХОЧАГИИ КИШЛОК,None,3,...,0,0,0,0,0,0,0,0,0,1
6,2593810969,001-21,001-21,8000.0,0,46.0,26223972810118493001,ИСТЕЪМОЛОТ,001-21,6,...,0,0,0,0,0,0,0,1,0,0
7,3233769171,001-21,001-21,2000.0,0,42.0,26223972110209086001,ИСТЕЪМОЛОТ,001-21,1,...,0,0,0,0,0,0,0,1,0,0

In [40]:
data.drop("sector_cred",axis=1,inplace=True)

In [41]:
data.stupen_cred.value_counts()

1     19425
2     10543
3      6188
4      3595
5      2152
6      1314
7       706
8       459
9       288
10      148
11       95
12       55
14       43
13       37
15       24
16       18
17       16
18        9
20        7
19        6
25        6
21        4
29        4
26        2
22        2
23        1
Name: stupen_cred, dtype: int64

In [50]:
data.to_csv("credit_wt_categorigal.csv",index=False)

In [51]:
data=pd.read_csv("credit_wt_categorigal.csv")

In [42]:
#Pre_payment account info
# account contains 20 digits, where starting from 5th (5,6,7) digit there is currency info. Here we have accounts with three currencies (valuta)

#972 TJS
#840 USD
#810 RUB
code=data.pre_payment_acc.apply(lambda x: str(x))
data.pre_payment_acc=code.apply(lambda x: x[5:8])
data.pre_payment_acc=data.pre_payment_acc.apply(lambda x: "TJS" if x=="972" else "USD" if x=="840" else "RUB")
a=pd.get_dummies(data.pre_payment_acc,prefix="Prepayment account")
data=pd.concat([data,a],axis=1)
data.drop("pre_payment_acc",axis=1,inplace=True)

In [43]:
data.contract_manager_dep_code=data.contract_manager_dep_code.replace(np.NaN,0)
sum(data.contract_manager_dep_code.isna())

0

In [44]:
#drop pod-sector info
data.drop(['Богпарвари', 'Занбурпарвари', 'Ипотека', 'Истехсолот', 'Истеъмоли',
       'Истеъмолот', 'Мохипарвари', 'Растанипарвари', 'Хариду фуруш',
       'Хизматрасони', 'Чорвопарвари'],axis=1,inplace=True)

In [45]:
data.rename(columns={'kind of credit_ABCI/Чорводори':'kind of credit livestock', 'kind of credit_Агро-микро':'kind of credit micro_agro',
       'kind of credit_Айёми дилхох-1':'kind of credit any_day','kind of credit_Бизнес-микро':'kind of credit micro-business',
       'kind of credit_Бовари':'kind of credit chemicals', 'kind of credit_Гурухи-оилави':'kind of credit family_group',
       'kind of credit_Другие':'kind of credit Others', 'kind of credit_Истеъмоли (Нав)':'kind of credit new consumer',
        'kind of credit_Махсулоти карзи бо амонати сугуртави ва курби собит':'kind of credit credit_card','kind of credit_Умуми':'kind of credit general',
        'sector_NAN':'sector not given', 'sector_ИСТЕЪМОЛОТ':'sector consumer','sector_СОХИБКОРИ':'sector business',
        'sector_ХОЧАГИИ КИШЛОК':'sector housing'},inplace=True)

In [46]:
data.drop("overdue",axis=1,inplace=True)

In [47]:
data

,contract_id,branch_code,depart_code,dog_summa_nt,grace_period,prc_rate,contract_manager_dep_code,stupen_cred,sum_admin_prc_nt,date_begin,...,kind of credit new consumer,kind of credit credit_card,kind of credit general,sector_NONE,sector consumer,sector business,sector housing,Prepayment account_RUB,Prepayment account_TJS,Prepayment account_USD
3,1637320955,001-14,001-14,57100.00,0,42.6,001-14,1,0.00,2016-04-16,...,0,0,1,0,0,1,0,0,1,0
4,3160568643,001-04,001-04,5000.00,0,42.0,001-04,4,50.00,2017-12-29,...,0,0,0,0,1,0,0,0,1,0
5,3393025348,001-18,001-18-01,5000.00,0,42.0,0,3,50.00,2018-03-23,...,0,0,0,0,0,0,1,0,1,0
6,2593810969,001-21,001-21,8000.00,0,46.0,001-21,6,10.00,2017-06-05,...,0,0,0,0,1,0,0,0,1,0
7,3233769171,001-21,001-21,2000.00,0,42.0,001-21,1,20.00,2018-01-26,...,0,0,0,0,1,0,0,0,1,0
8,2924160024,001-14,001-14-02,8000.00,0,42.0,001-14-02,2,80.00,2017-10-04,...,0,0,0,0,1,0,0,0,1,0
9,3416183132,001-18,001-18-01,18000.00,0,27.0,001-18-01,1,10.00,2018-04-02,...,0,0,0,0,0,0,1,0,1,0
10,3421812332,001-03,001-03,54660.44,0,24.0,001-03,7,9.97,2018-04-05,...,0,0,0,0,1,0,0,0,0,1
11,2666940429,001-19,001-19,5000.00,0,47.0,001-19,1,10.00,2017-07-02,...,0,0,0,0,1,0,0,0,1,0
12,3063966959,001-21,001-21,2000.00,0,42.0,001-21,1,20.00,2017-11-25,...,1,0,0,0,1,0,0,0,1,0
13,3420768056,001-08,001-08,8000.00,4,27.0,001-08,2,10.00,2018-04-05,...,0,0,0,0,0,0,1,0,1,0
14,3009328950,001-20,001-20,3000.00,0,42.0,001-20,2,30.00,2017-11-05,...,1,0,0,0,1,0,0,0,1,0
15,2908534928,001-05,001-05-04,4000.00,0,42.0,001-05,1,40.00,2017-09-29,...,1,0,0,0,1,0,0,0,1,0
16,2928545611,001-15,001-15-01-02,5000.00,0,42.0,001-15-01-02,1,50.00,2017-10-05,...,0,0,0,0,1,0,0,0,1,0
17,3009327474,001-15,001-15-01,2500.00,0,42.0,001-15-01,4,25.00,2017-11-05,...,0,0,0,0,1,0,0,0,1,0
18,2367691521,001-03,001-03-05,4000.00,0,42.0,001-03-05,1,5.00,2017-03-02,...,0,0,0,0,1,0,0,0,1,0
19,3089772032,001-21,001-21,4000.00,0,42.0,001-21,6,40.00,2017-12-02,...,0,0,0,0,1,0,0,0,1,0
20,3338939390,001-03,001-03-05,5000.00,0,42.0,001-03-05,4,50.00,2018-03-02,...,0,0,0,0,0,0,1,0,1,0
21,3260024840,001-12,001-12,4000.00,0,36.0,001-12,1,10.00,2018-02-04,...,0,0,0,0,0,1,0,0,1,0
22,3421395390,001-14,001-14-01,3000.00,0,42.0,001-14-01,1,30.00,2018-04-05,...,0,0,0,0,1,0,0,0,1,0
23,3339128111,001-01,001-01,5000.00,0,42.0,001-01,1,50.00,2018-03-02,...,0,0,0,0,0,1,0,0,1,0
24,3416661878,001-04,001-04,6000.00,0,36.0,001-04,2,10.00,2018-04-02,...,0,0,0,0,0,1,0,0,1,0
25,3338517002,001-03,001-03-07,2000.00,0,42.0,001-03,2,20.00,2018-03-02,...,0,0,0,0,0,1,0,0,1,0
26,2990443641,001-11,001-11-05,4000.00,0,40.0,001-11-05,5,40.00,2017-10-29,...,0,0,0,0,1,0,0,0,1,0
27,3415964194,001-05,001-05-07,6000.00,0,42.0,001-05-07,2,60.00,2018-04-02,...,0,0,0,0,0,1,0,0,1,0
28,3048933667,001-03,001-03-03,10000.00,0,42.0,0,2,100.00,2017-11-20,...,1,0,0,0,1,0,0,0,1,0
29,3262451931,001-06,001-06-04,2500.00,0,42.0,001-06-04,1,25.00,2018-02-05,...,0,0,0,0,0,0,1,0,1,0
30,3262586619,001-10,001-10-05,2000.00,0,42.0,001-10-05,5,20.00,2018-02-05,...,0,0,0,0,1,0,0,0,1,0
31,3420941501,001-06,001-06-03,4000.00,0,42.0,001-06-03,4,40.00,2018-04-05,...,0,0,0,0,1,0,0,0,1,0
32,2754572691,001-18,001-18,8000.00,0,46.0,001-18,6,80.00,2017-08-05,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45222,3008935316,001-06,001-06-02,3000.00,0,42.0,0,1,30.00,2017-11-05,...,0,0,0,0,0,1,0,0,1,0
45223,3421721240,001-07,001-07-02,2000.00,0,36.0,001-07-02-01,1,10.00,2018-04-05,...,0,0,0,0,0,0,1,0,1,0
45224,3090012579,001-20,001-20,2500.00,0,42.0,001-20,2,25.00,2017-12-02,...,1,0,0,0,1,0,0,0,1,0
45225,3343849677,001-05,001-05-04,2000.00,0,42.0,001-05,3,20.00,2018-03-05,...,0,0,0,0,0,1,0,0,1,0
45226,2367662841,001-06,001-06,10000.00,0,42.0,0,1,10.00,2017-03-02,...,0,0,0,0,0,0,1,0,1,0
45227,3178538924,001-21,001-21,2000.00,0,42.0,001-21,1,20.00,2018-01-05,...,0,0,0,0,0,0,1,0,1,0
45228,3312811633,001-13,001-13,1500.00,0,42.0,001-13,2,15.00,2018-02-25,...,0,0,0,0,0,1,0,0,1,0
45229,3312857097,001-06,001-06-04,4000.00,0,42.0,001-06-04,4,40.00,2018-02-25,...,0,0,0,0,0,1,0,0,1,0
45230,2990337919,001-14,001-14-01,3000.00,0,42.0,001-14-01,6,30.00,2017-10-29,...,0,0,0,0,1,0,0,0,1,0
45231,2666562578,001-01,001-01,10000.00,0,47.0,001-01,1,10.00,2017-07-02,...,1,0,0,0,1,0,0,0,1,0
45232,2594110632,001-04,001-04,2000.00,0,46.0,001-04,2,5.00,2017-06-05,...,0,0,0,0,0,0,1,0,1,0
45233,3420942161,001-09,001-09,6000.00,0,40.0,001-09,1,60.00,2018-04-05,...,0,0,0,0,1,0,0,0,1,0
45234,2347795227,001-17,001-17,10000.00,0,42.0,001-17,1,10.00,2017-02-26,...,1,0,0,0,1,0,0,0,1,0
45235,3090221849,001-05,001-05-04,3000.00,0,42.0,001-05,2,30.00,2017-12-02,...,0,0,0,0,1,0,0,0,1,0
45236,3338909316,001-03,001-03-05,1200.00,0,42.0,001-03-05,1,12.00,2018-03-02,...,0,0,0,0,1,0,0,0,1,0
45237,3416533216,001-05,001-05,2000.00,0,42.0,001-05,1,20.00,2018-04-02,...,0,0,0,0,0,1,0,0,1,0
45238,3008846586,001-10,001-10-04,5000.00,0,42.0,0,3,50.00,2017-11-05,...,1,0,0,0,1,0,0,0,1,0
45239,3315391550,001-20,001-20,8000.00,0,42.0,0,1,80.00,2018-02-26,...,0,0,0,0,1,0,0,0,1,0
45240,3338550002,001-03,001-03-03,10000.00,0,42.0,001-03-03,8,100.00,2018-03-02,...,0,0,0,0,1,0,0,0,1,0
45241,2673068832,001-03,001-03-03,8000.00,0,46.0,001-03-03,8,10.00,2017-07-05,...,0,0,0,0,1,0,0,0,1,0
45242,2816296216,001-08,001-08-03,10000.00,0,47.0,001-08-03,1,100.00,2017-08-27,...,1,0,0,0,1,0,0,0,1,0
45243,3178895099,001-06,001-06-03,3000.00,0,42.0,001-06-03,6,30.00,2018-01-05,...,0,0,0,0,1,0,0,0,1,0
45244,3160989103,001-05,001-05-04,2000.00,0,42.0,001-05,5,20.00,2017-12-29,...,0,0,0,0,1,0,0,0,1,0
45245,3421259568,001-05,001-05-04,1000.00,0,40.0,001-05,6,10.00,2018-04-05,...,0,0,0,0,0,0,1,0,1,0
45246,2594062504,001-13,001-13,10000.00,0,46.0,001-13,5,10.00,2017-06-05,...,1,0,0,0,1,0,0,0,1,0
45247,3416497347,001-05,001-05-04,5000.00,0,42.0,0,1,50.00,2018-04-02,...,0,0,0,0,0,0,1,0,1,0
45248,3009082707,001-04,001-04,1000.00,0,42.0,001-04,3,10.00,2017-11-05,...,0,0,0,0,0,1,0,0,1,0
45249,2586264005,001-06,001-06-02,7000.00,0,46.0,001-06-02,5,10.00,2017-06-02,...,0,0,0,0,1,0,0,0,1,0
45250,3009198869,001-13,001-13-01,6000.00,0,42.0,001-13-01,2,60.00,2017-11-05,...,0,0,0,0,1,0,0,0,1,0
45251,2284737328,001-08,001-08,20000.00,0,28.0,001-08,3,10.00,2017-01-30,...,0,0,0,0,0,0,1,0,1,0

In [48]:
data.to_csv("credit_cleaned.csv",index=False)