In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
import json
import os

def file(path):
    fds = sorted(os.listdir(path))
    filenames = []
    for file in fds:
        if file.endswith(('.json')): 
            filenames.append(file)
    return filenames


path = 'greetgo_data/cs2018-07-17'
filenames = file(path)

df_tmp = pd.DataFrame(columns=("file_name", "client_id", "date_birth", "sex", "type", 
                                   "phys_work_place", "okved", "phys_casta", "workplace_spouse"))
    

for file in range(len(filenames)):
    f = open(path + '/' + filenames[file])
    data = json.load(f)    

    df_tmp = df_tmp.append({"file_name": filenames[file],
                   "client_id": data["client_id"], 
                   "date_birth": data["date_birth"], 
                   "sex": data["sex"],
                   "type": data["type"],
                   "phys_work_place": data["phys_work_place"],
                   "okved": data["okved"],
                   "phys_casta": data["phys_casta"], 
                   "workplace_spouse": data["workplace_spouse"]}, ignore_index=True)#index=[0])

In [5]:
df_tmp['year_bd'] = df_tmp['date_birth'].apply(lambda x: x.split("-")[0])

In [7]:
df_tmp['age'] = df_tmp['year_bd'].apply(lambda x: 2018 - int(x))

In [10]:
#Физическое лицо
df_tmp['type'] = df_tmp['type'].apply(lambda x: 1 if x == 'Физическое лицо' else 0)

In [11]:
#Женский Мужской
df_tmp['sex'] = df_tmp['sex'].apply(lambda x: 1 if x == 'Женский' else 0)

In [12]:
df_tmp.drop(['file_name', 'date_birth', 'phys_work_place', 'okved', 
                'phys_casta', 'workplace_spouse', 'year_bd'], axis=1, inplace=True)

In [13]:
df_tmp.head()

    client_id  sex  type  age
0  2201320103    1     1   54
1  1160910199    1     1   53
2   348196477    0     1   42
3  1225971105    1     1   48
4   886064014    1     1   50

In [14]:
df_tmp.to_csv('client_data_cleaned.csv', index=False)