In [34]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [2]:
import json
import os

def file(path):
    fds = sorted(os.listdir(path))
    filenames = []
    for file in fds:
        if file.endswith(('.json')): 
            filenames.append(file)
    return filenames


path = 'greetgo_data/cs2018-07-17'
filenames = file(path)

df_tmp = pd.DataFrame(columns=("file_name", "client_id", "date_birth", "sex", "type", 
                                   "phys_work_place", "okved", "phys_casta", "workplace_spouse"))
    

for file in range(len(filenames)):
    f = open(path + '/' + filenames[file])
    data = json.load(f)    

    df_tmp = df_tmp.append({"file_name": filenames[file],
                   "client_id": data["client_id"], 
                   "date_birth": data["date_birth"], 
                   "sex": data["sex"],
                   "type": data["type"],
                   "phys_work_place": data["phys_work_place"],
                   "okved": data["okved"],
                   "phys_casta": data["phys_casta"], 
                   "workplace_spouse": data["workplace_spouse"]}, ignore_index=True)#index=[0])

In [5]:
df_tmp['year_bd'] = df_tmp['date_birth'].apply(lambda x: x.split("-")[0])

In [7]:
df_tmp['age'] = df_tmp['year_bd'].apply(lambda x: 2018 - int(x))

In [10]:
#Физическое лицо
df_tmp['type'] = df_tmp['type'].apply(lambda x: 1 if x == 'Физическое лицо' else 0)

In [11]:
#Женский Мужской
df_tmp['sex'] = df_tmp['sex'].apply(lambda x: 1 if x == 'Женский' else 0)

In [12]:
df_tmp.drop(['file_name', 'date_birth', 'phys_work_place', 'okved', 
                'phys_casta', 'workplace_spouse', 'year_bd'], axis=1, inplace=True)

In [38]:
df_tmp.sort_values(by=['age'], ascending=True)['age']

37963     -3
30798     -3
38806     -3
40465     -3
33580     -3
9111      -2
42484     -2
21378     -2
1679      -2
31214     -1
10816     -1
36054      0
8102      18
15173     18
22496     18
4062      18
31934     18
30253     18
40697     18
29406     18
16401     18
485       18
23244     18
32269     18
2645      18
37948     18
39344     19
22355     19
2033      19
26962     19
        ...
34828     76
28996     76
32429     76
15223     76
28598     76
6319      76
38839     76
24509     76
20003     76
41007     76
5977      76
33022     76
22716     76
9519      77
41912     77
26236     77
22962     77
12377     77
26747     77
31126     78
43715     78
13314     78
18616     78
8539      78
5019      79
38450     79
27096     80
42164     81
4808      84
394      408
Name: age, Length: 43884, dtype: int64

In [65]:
# удалить неправильные возрасты
df_tmp = df_tmp.drop(df_tmp[(df_tmp['age'] < 18) | (df_tmp['age'] > 150)].index)

In [78]:
df_tmp.describe()

                sex           age
count  43871.000000  43871.000000
mean       0.444189     40.859452
std        0.496881     12.021254
min        0.000000     18.000000
25%        0.000000     31.000000
50%        0.000000     40.000000
75%        1.000000     50.000000
max        1.000000     84.000000

In [68]:
df_tmp['type'].value_counts()

1    43871
Name: type, dtype: int64

In [72]:
df_tmp.drop(['type'], axis=1, inplace=True)

In [79]:
df_tmp.to_csv('client_data_cleaned.csv', index=False)